node_modules/

logs/
*.log

.npm

.eslintcache

.node_repl_history

*.tgz

yarn-error.log
.pnp/
.pnp.js
yarn-debug.log*

coverage/

.idea/

.vscode/

.DS_Store

Thumbs.db

.env.local
.env.*.local

.eslintcache

persist/
